@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <h1>My Phone Book</h1>
    <p class="lead">Save your contacts online!</p>
    <div class="row">
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Sign Up</a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Log In</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Getting started</h3>
        <p>Following easy steos you'll get your Mini online Phone Book.</p>
        
    </div>
    <div class="col-md-4">
        <h3>Get more things</h3>
        <p>Get notifications about your friends Birthdays.</p>
        
    </div>
    <div class="col-md-4">
        <h3>Responsive</h3>
        <p>No response time, efficient and reliable.</p>
        
    </div>
</div>